@model App.Models.ProductModel

<div class="card bg-danger text-white">
    <h1 class="card-header">@Model.Name</h1>
    <div class="card-body">
        <h5 class="card-title">@Model.Price</h5>
        <p class="card-text">@Model.Description</p>
    </div>
</div>